* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

nav, header, main, footer {
    padding: 16px;
    margin: 0px;
}


/* nav style */
nav {
    position:fixed;
    width: 100%;
    padding: 16px;
    background-color: red;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

nav .logo {
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
}

.nav-links {
    margin-top: 16px;
}

.burger {
    display: block;
    cursor: pointer;
}

.line1, .line2 {
    width: 32px;
    height: 2px;
    background-color: black;
    margin-top: 8px;
    margin-bottom: 8px;
}

.nav-links {
    flex-basis: 100%;

}

.nav-links li {
    list-style: none;
    margin-top: 4px;
    margin-bottom: 4px;
}

.nav-links a {
    cursor: pointer;
}

.nav-links a:hover, .nav-links a:focus {
    text-decoration: underline;
}

/* header style */
header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header-container {
    width: 100%;
}

h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    margin-top: 64px;
    margin-bottom: 8px;
}

/* fix-header-h1 */
@media screen and (max-width: 375px) {
    h1 {
        font-size: 32px;
    }
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.project-info-container {
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: auto;
    margin-bottom: 48px;
    font-size: 14px;
}

.info-wide {
    width: 50%;
    padding-right: 8px;
}

.info-small {
    width: 50%;
}

.info-wide h3 {
    margin-top: 16px;
}

.info-small h3 {
    margin-top: 16px;
}

.project-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

.project-link {
    border: 1px solid black;
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.project-link:hover, .project-link:focus {
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.project-link {
    padding: 8px;
    width: 100%;
}


/* main style */
.selected-project-container {
    display: flex;
    flex-direction: column;
    margin: 24px 0 24px 0;
}

.selected-project-info {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 24px;
    font-size: 16px;
    order: 2;
}

.selected-project-container p {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: grey;
    margin-top: 8px;

}

.selected-project-container .project-super-short {
    display: none;
    text-transform: none;
}


.selected-project-container a {
    color: inherit;
    cursor: pointer;
    order: 1;
}

img {
    margin: 0;
    width: 100%;
}

.project-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.paragraph-title {
    font-weight: 700;
    padding-top: 24px;
    font-size: 16px;
}

.paragraph-content {
    width: var(--content-width);
}

.paragraph-content p {
    font-size: 16px;
    line-height: inherit;
    margin: 8px 0 8px 0;
}

.bold {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}


/* pagination style */
.pagination-container {
    display: flex;
    justify-content: space-between;
    margin-top: 128px;
}

/* footer style */
.footer-container {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.mail p {
    font-size: 24px;
}

.mail a{
    font-size: 24px;
    font-weight: 700;
}

.follow h4 {
    margin-top: 24px;
}

.follow a:hover, .follow a:focus {
    text-decoration: underline;
}


/* tablet */
@media screen and (min-width: 768px) {

    nav .logo {
        font-size: 32px;
        font-weight: 700;
    }

    .project-info-container {
        flex-direction: row;
    }

    .info-wide {
        width: 40%;
        padding-right: 8px;
    }
    
    .info-small {
        width: 20%;
    }
    
    .project-links-container {
        flex-direction: row;
    }

    .project-link {
        margin: 4px;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .follow h4{
        margin-top: 0;
    }

}


/* desktop */
@media screen and (min-width: 1024px) {
    nav {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        max-width: 1280px;
    }

    .nav-container {
        align-items: baseline;
    }

    .burger {
        display: none;
    }

    .nav-links {
        flex-basis: 0%;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
    }

    .nav-links li {
        padding-left: 32px;
        display: block;
    }
    
    header {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
    }

    .header-container {
        max-width: 774px;
    }

    h1 {
        font-size: 64px;
        line-height: 64px;
    }

    h2 {
        font-size: 32px;
    }

    .project-links-container {
        margin-bottom: 128px;
    }

    main, footer {
       margin-left: auto;
       margin-right: auto;
       align-items: center;
       max-width: 1280px;
    }

    .selected-project-container {
        flex-direction: row;
        justify-content: space-between;
        margin: 24px 0 24px 0;
    }

    .selected-project-info {
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 0;
        order: 1;
    }

    .selected-project-container .project-super-short {
        display: block;
    }
    

    .selected-project-container a {
        order: 2;
    }

    .selected-project-container figure {
        width: 774px;
    }
    
    .project-description {
        flex-direction: row;
        justify-content: space-between;
        margin: 24px 0 24px 0;
    }

    .paragraph-title {
        width: 343px;
        padding-top: 0px;
    }

    .paragraph-content {
        max-width: 774px;
    }

    .paragraph-content p{
        margin: 0px;
    }

}

