* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

nav, header, main, footer, section {
    padding: 16px;
    margin: 0px;
}

video {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid black;
}


/* nav style */
nav {
    position:fixed;
    width: 100%;
    padding: 16px;
    background-color: white;
    color:black;
    z-index: 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: inherit;
}

nav .logo {
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    color: inherit;
}

.logo h3 {
    font-weight: inherit;
}

.nav-links {
    margin-top: 16px;
    color: inherit;
}

.burger {
    display: block;
    cursor: pointer;
}

.line1, .line2 {
    width: 28px;
    height: 2px;
    background-color: black;
    margin-top: 4px;
    margin-bottom: 4px;
}

.line1 {
    transform: translateY(-3px);
    /* transition: ;*/
}

.line2 {
    transform: translateY(3px);
    /* transition: ;*/
}

.nav-links {
    flex-basis: 100%;
    color: inherit;
}

.nav-links li {
    list-style: none;
    margin-top: 4px;
    margin-bottom: 4px;
    color: inherit;
}

.nav-links a {
    cursor: pointer;
    color: inherit;
}

.nav-links a:hover, .nav-links a:focus {
    text-decoration: underline;
}

/* header style */
header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header-container {
    width: 100%;
}

.abstract-container {
    width: 100%;
}

.abstract-container p {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
    font-style: italic;
}

h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    margin-top: 64px;
    margin-bottom: 8px;
}

/* fix-header-h1 */
@media screen and (max-width: 320px) {
    h1 {
        font-size: 32px;
    }
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.project-info-container {
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: auto;
    margin-bottom: 48px;
    font-size: 14px;
}

.info-wide {
    width: 50%;
    padding-right: 8px;
}

.info-small {
    width: 50%;
}

.info-wide h3 {
    margin-top: 16px;
}

.info-small h3 {
    margin-top: 16px;
}

.project-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

.project-link {
    border: 1px solid black;
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.project-link:hover, .project-link:focus {
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.project-link {
    padding: 8px;
    width: 100%;
}

.project-link-unique {
    border: 1px solid black;
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.project-link-unique:hover, .project-link-unique:focus {
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.project-link-unique {
    padding: 8px;
    width: 100%;
}

.see-process span {
    font-weight: 700;
    margin-top: 24px;
    animation: animate 1.5s linear infinite;
    position: relative;
    display: inline-block;
}

@keyframes animate {
    0% {
        transform: translateY(-20px);
    }
    10% {
        transform: translateY(-10px); 
    }
}


/* main style */
.selected-project-container {
    display: flex;
    flex-direction: column;
    margin: 24px 0 24px 0;
}

.selected-project-info {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 24px;
    font-size: 16px;
    order: 2;
}

.selected-project-container p {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: grey;
    margin-top: 8px;

}

.selected-project-container .project-super-short {
    display: none;
    text-transform: none;
}


.selected-project-container a {
    color: inherit;
    cursor: pointer;
    order: 1;
}

img {
    margin: 0;
    width: 100%;
    border-style: none;
}

.project-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.paragraph-title {
    font-weight: 700;
    padding-top: 24px;
    font-size: 16px;
}

.paragraph-content {
    width: var(--content-width);
}

.paragraph-content p {
    font-size: 16px;
    line-height: inherit;
    margin: 8px 0 16px 0;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.project-multiple-screens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.project-multiple-screens figure {
    max-width: 50%;
}

.project-multiple-screens img {
    max-width: 100%;
}

.all-projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.all-projects-container .project-container {
    display: flex;
    flex-direction: column;
}

.project-container h3{
    font-weight: 400;
}

.project-container figure {
    width: 100%;
}

figure img {
    width: 100%;
    height: auto;
}


.project-thumbnail {
    border: 1px solid black;
    margin-bottom: 24px;
    width: 100%;
}

main .photo-container {
    display: flex;
    flex-direction: column;
}




/* pagination style */
.pagination-container {
    display: flex;
    justify-content: space-between;
    margin-top: 128px;
}

.pagination-continer a {
    color: inherit;
}

.pagination-continer span {
    color: inherit;
}

/* footer style */
.footer-container {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.mail p {
    font-size: 24px;
}

.mail a{
    font-size: 24px;
    font-weight: 700;
}

.follow h4 {
    margin-top: 24px;
}

.follow a:hover, .follow a:focus {
    text-decoration: underline;
}


/* tablet */
@media screen and (min-width: 768px) {
    .project-info-container {
        flex-direction: row;
    }

    .info-wide {
        width: 40%;
        padding-right: 8px;
    }
    
    .info-small {
        width: 20%;
    }
    
    .project-links-container {
        flex-direction: row;
    }

    .project-link {
        margin: 4px;
    }

    .project-multiple-screens {
        display: flex;
        flex-direction: row;
    }

    .project-multiple-screens figure {
        width: 25%;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .follow h4{
        margin-top: 0;
    }

    main .photo-container {
        flex-direction: row;
    }

}


/* desktop */
@media screen and (min-width: 1024px) {
    nav {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        max-width: 1280px;
    }

    .nav-container {
        align-items: baseline;
    }

    .burger {
        display: none;
    }

    .nav-links {
        flex-basis: 0%;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
    }

    .nav-links li {
        padding-left: 32px;
        display: block;
    }
    
    header, section {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
    }

    .header-container {
        max-width: 774px;
    }

    .abstract-container {
        max-width: 774px;
    }

    h1 {
        font-size: 64px;
        line-height: 64px;
    }

    h2 {
        font-size: 32px;
    }

    .see-process {
        margin-bottom: 128px;
    }

    main, footer {
       margin-left: auto;
       margin-right: auto;
       align-items: center;
       max-width: 1280px;
    }

    .selected-project-container {
        flex-direction: row;
        justify-content: space-between;
        margin: 24px 0 24px 0;
    }

    .selected-project-info {
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 0;
        order: 1;
    }

    .selected-project-container .project-super-short {
        display: block;
    }
    

    .selected-project-container a {
        order: 2;
    }

    .selected-project-container figure {
        width: 774px;
    }
    
    .project-description {
        flex-direction: row;
        justify-content: space-between;
        margin: 24px 0 24px 0;
    }

    .paragraph-title {
        width: 343px;
        padding-top: 0px;
    }

    .paragraph-content {
        max-width: 774px;
    }

    .paragraph-content p{
        margin: 0 0 16px 0;
    }

}

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body { 
      color: #eee;
      background-color: #121212;
    }

    nav {
        color: #eee;
        background-color: #121212;
    }

    .line1, .line2 {
        background-color: #eee;
    }
    

    .project-link {
        border: 1px solid #eee;
        width: 100%;
        margin-top: 2px;
        display: flex;
        justify-content: space-between;
    }

    .project-link-unique {
        border: 1px solid #eee;
    }
    
    .project-link-unique:hover, .project-link-unique:focus {
        background-color: #eee;
        color: #121212;
    }
    
    a {
        color: #eee;
    }
    
    .project-link:hover, .project-link:focus {
        background-color: #eee;
        color: #121212;
        transition: all 0.3s ease;
    }

    video {
        border: 1px solid #eee;
    }

    .project-info-container {
        border-top: 1px solid #eee;
    }



 }  

